<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberDemo2 Suit 1">
    <listeners>
        <listener class-name="testOptions.TestngListeners"/>
    </listeners>
    <test name="CucumberDemo2 Test 1">
        <classes>
            <class name="testOptions.TestRunner"/>
        </classes>
    </test>
</suite>