<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Payback Explore Suit 1">
    <listeners>
        <listener class-name="testRunner.TestngListeners"/>
    </listeners>
    <test name="Payback Explore Test 1">
        <classes>
            <class name="testRunner.TestRunner"/>
        </classes>
    </test>
</suite>